<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmarlow.custominstrumentation">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".InstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".MainActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <service
            android:name=".AndromiumControllerService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/apk_icon"
            android:label="Email"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <!-- Note tht the action and category is use to denote this is an androium app -->
                <!-- Without both, Andromium OS will not be able to launch the apps -->
                <action android:name="com.andromium.APP" />
                <category android:name="com.andromium.category.ANDROMIUM" />
            </intent-filter>
        </service>

        <activity android:name=".SubActivity"></activity>
        <activity android:name=".ThirdActivity"></activity>
    </application>

</manifest>